{% extends 'base.html.twig' %}

{% block title %}Edit Instrument
{% endblock %}

{% block main %}
	<h1>Edit Instrument</h1>

	{{ include('instrument/_form.html.twig', {'button_label': 'Update'}) }}
	{% if is_granted('ROLE_ADMIN') %}
		{{ include('instrument/_delete_form.html.twig') }}
	{% endif %}

	<a href="{{ path('instrument_list') }}" class="btn btn-dark" style="margin-top:10px">back to list</a>
{% endblock %}
