{% extends 'base.html.twig' %}

{% block title %}New Owner
{% endblock %}

{% block main %}
	<h1>Create new Owner</h1>

	{{ include('owner/_form.html.twig') }}

	<a href="{{ path('app_owner_index') }}" class="btn btn-secondary" style="margin-top:10px">back to list</a>
{% endblock %}
